<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

 
  <configuration>
    <connectionStrings>
      <add name="myConnectionString" connectionString="Data Source=ISALIMENO\msqlserver1;Initial Catalog=MOKAR;User ID=sa;Password=admin"/>
      <!--<add name="myConnectionString" connectionString="Data Source=.\\SQLUAI;Initial Catalog=EjemploCapas;Integrated Security=True" />-->
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"><controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
      </pages>
            <httpRuntime maxRequestLength="8192"/>
        </system.web>
    <appSettings>

    <add key="reCAPTCHA" value="6LfFQLUUAAAAAN-8Olxjm7cH1S__MacejPHWt8rV"/>
    </appSettings>

  </configuration>